#botao-fixo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 60px; /* tamanho do ícone */
  color: #2d4d2a;   /* mesma cor usada nos links do header */
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

#botao-fixo:hover {
  transform: scale(1.15);
  color: #366424; 
}

#botao-fixo i {
  color: #366424; /* verde escuro */
}

#botao-fixo {
  display: none; /* começa escondido */
}