#botao-fixo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 60px; 
  color: #2d4d2a;    
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

#botao-fixo:hover {
  transform: scale(1.15);
  color: #366424; 
}

#botao-fixo i {
  color: #366424; 
}

#botao-fixo {
  display: none; 
}


@media (min-width: 768px) {
  #botao-fixo {
    display: block;
  }
}


@media (max-width: 767px) {
  #botao-fixo {
    font-size: 40px; 
    bottom: 15px;
    right: 15px;
  }
}