footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #abca8d;
  text-align: center; 
}

.footer-social {
  width: 100px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-social a i {
  background-color: transparent; 
  color: #2d4d2a ! important;
  font-size: 36px;
  padding: 30px 10px;
}

.footer-social a:hover {
  background-color: #e1f3cedc;
  border-radius: 30%;
  transition: 0.4s;
}
@media (max-width: 600px) {
  .footer-social {
    width: 80px;
    gap: 25px;
    padding: 20px 0;
  }

  .footer-social a i {
    font-size: 28px;
    padding: 20px 8px;
  }
}

@media (max-width: 400px) {
  .footer-social {
    width: 60px;
    gap: 15px;
    padding: 15px 0;
  }

  .footer-social a i {
    font-size: 22px;
    padding: 15px 6px;
  }
}