footer {
  width: 100%;
  padding: 50px 10%;
  background-color: #abca8d; 
}

.footer-social {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-social a i {
  background-color: transparent; 
  color: #2d4d2a ! important;
  border: 2px solid #d8eac4; 
  padding: 20px 25px;
  font-size: 36px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.footer-social a:hover {
  background-color: #d8eac4;
  border-radius: 50px;
}