header{
    background-color: #abca8d;
   
}

.header-links img {
    width: 160px;
}

.header-links a {
    width: 140px;
    border-bottom: 4px solid #366424;
    font-size: 30px;
    text-align: center;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 80px;
}

