header{
    background-color: #abca8d;
   
}

.header-links img {
    width: 160px;
}

.header-links a {
    width: 140px;
    border-bottom: 4px solid #366424;
    font-size: 30px;
    text-align: center;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 80px;
}


/* menu-hamburguer*/

.botao-hamburguer {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1000;
}

.botao-hamburguer div {
  width: 30px;
  height: 4px;
  background-color: #366424;
  border-radius: 2px;
}

.mobile-links {
  display: none;
  flex-direction: column;
  background-color: #acca8db2;
  position: absolute;
  top: 100px;
  right: 30px;
  padding: 1rem;
  box-shadow: #3d52349f 0px 0px 10px;
  z-index: 999;
}

.mobile-links a {
  margin: 10px 0;
  font-size: 20px;
  color: #2d4d2a;
  text-decoration: none;
}


.mobile-links.ativo {
  display: flex;
}


@media (max-width: 768px) {
  .botao-hamburguer {
    display: flex;
  }

  .header-links {
    display: none;
  }
}
