header{
    background-image: url('/src/image/moda\ circular\ verde\ teste.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 620px;
}
.header-links img {
    height: 160px;
    width: auto;
}
.header-links a {
    border-bottom: 4px solid #366424;
    font-size: 30px;
}
.header-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #acca8db2;
    box-shadow: #3d52349f 0px 0px 10px;
    padding: 30px;
    margin: 0px 10px;  
}

