
#inicio {
  background-image: url("/src/image/fundo-inicio.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-top: -210px;
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #2c2c2c;
}


.inicio-container {
  max-width: 1000px;
  width: 90%;
  background-color: #ffffff;
  padding: 4rem 3rem;
  border-radius: 24px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.inicio-conteudo{
  padding-top: 210px;
}

#inicio h1 {
  font-size: 42px;
  color: aliceblue;
  border-bottom: 4px solid #309427;
  display: inline-block;
  padding-bottom: 0.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}


#inicio p {
  font-size: 26px;
  color: #cecece;
  line-height: 10px;
  margin-bottom: 0.3rem; /* para dar espaçamento entre parágrafos */
}


#botao-inicio {
  margin-top: 2rem;  
  width: 100px;
  height: auto;
  cursor: pointer;
}
.sobre-conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.sobre-nos{
  margin: 10px 120px 10px 120px;
}
.sobre-nos h2{
  font-size: 40px;
  color: #2d4d2a;
  padding: 40px;
  font-weight: 500;
  text-align: center;
}
.sobre-texto{
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: #87da6641;
  padding: 30px
}
.sobre-texto img{
  width: 350px;
}

.sobre-texto p{
  font-size: 20px;
  color: #4b4b4b;
  line-height: 1.6;
  text-align: justify;
  padding: 20px
}
